.home-title {
    color: #2C5665;
    font-family: Alata;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    /* 64px */
}