.footer {
  background-color: #2C5665;
  color: #fff;
  display: flex;
  flex-direction: column; /* Stack items on smaller screens */
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding: 0 20px; /* Add padding for small screens */
}

.footer-left {
  display: flex;
  align-items: center;
  margin-bottom: 0px; /* Add space below on smaller screens */
  font-size: 30px;
  text-align: left;
}

.footer-left img {
  width: 100px; /* Adjust the logo size for responsiveness */
  height: auto;
  margin-right: 0px;
}

.footer-left div {
  display: flex;
  flex-direction: column;
  line-height: 1.0;
}

.footer-item {
  text-align: left;
  margin: 10px 0;
  font-size: 16px;
}

.footer-item-one {
  color: #fff;
  font-family: Alata;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-item-other {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.footer-item-other:hover {
  color: #5f58eb;
}

.footer-item-other a {
  text-decoration: none;
  color: inherit;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 5px 0; /* Reduce the padding to 5px */
  border-top: 1px solid #FFF;
  margin-bottom: 0; /* Ensure there's no extra margin */
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    margin-left: 50px;
  }

  .footer-left {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer-left img {
    width: 60px; /* Further reduce logo size */
    margin-right: 10px;
  }

  .footer-item {
    margin-left: 0;
    font-size: 14px;
  }

  .footer-item-one {
    font-size: 16px;
  }

  .footer-item-other {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
