.header-main {
  width: 100%;
  height: 8vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #000;
  background-color: rgba(254, 212, 213, 0.159);
}

.header-main {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  background-color: #FAFAFA;
}

.header-left {
  color: #2C5665;
  font-family: Alata;
  font-size: 1.4vw;
  font-style: normal;
  text-align: left;

  padding-left: 5vw;
  display: flex;
}

.header-icon {
  width: 5vw;
  height: 5vw;
}

.header-nav {
  padding: 0px 1vw 0px 1vw;
  font-size: 1.3vw;
  color: #2C5665;
  cursor: pointer;
}
.header-nav a {
  color: #2C5665;
}


.header-left-text {}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-left {
  margin-right: 1vw;
}

.i-right {
  text-align: left;
}

.nav-main {
  display: flex;
}

.nav-item {
  padding: 3vw;
  font-size: 1.6vw;
  font-weight: 600;
  cursor: pointer;
}

.nav-item a {
  color: #000;
  font-weight: 600;
}

/* <GlobalOutlined /> */

.language-main {
  /* padding: 0.5vw; */
  /* background-color: rgb(254, 212, 213, 0.074); */
  /* padding: 1vw 0vw 1vw 0vw; */
  position: relative;
}

.language-box {
  /* background-color: rgb(254, 212, 213, 0.074); */
  padding: 1vw 2vw 1vw 2vw;
  cursor: pointer;
  color: #000000;
  font-size: 1.8vw;
}

.language-main:hover .language-other {
  display: block;
}

.language-other {
  z-index: 100;
  position: absolute;
  /* width: 100%; */
  top: 100%;
  right: 0px;
  background-color: rgba(76, 82, 102, 0.213);
  padding: 1vw;
  /* box-sizing: border-box; */
  display: none;
}

.angel {
  width: 1.5vw;
  height: 1.5vw;
  background: #fff;
  transform: rotate(45deg);
  top: -0.8vw;
  /* left: 0; */
  right: 3vw;
  margin: 0 auto;
  position: absolute;
  /* z-index: 100; */
}

.white-box {
  background-color: #fff;
  position: relative;
  width: max-content;
}

.l-row {
  color: #000;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5vw 2vw 0.5vw 2vw;
  cursor: pointer;
  font-size: 1.4vw;
}

.l-row:hover {
  background-color: rgb(214, 227, 239);
}

.simple {
  width: 2vw;
}

.flag {
  width: 2vw;
  height: 2vw;
  background-color: lightsalmon;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 1vw;
  text-align: center;
  overflow: hidden;
}

.flag img {
  height: 100%;
}

.icon-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}