.recipe-top-img {
    width: 90%;
    height: max-content;
    margin: 10px auto;
    height: 100px;
    border: 1px solid #eee;
}

.recipe-list {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.recipe-img {
    width: 25%;
    padding: 10px;
    cursor: pointer;
}

.recipe-img-main {
    width: 100%;
    height: 500px;
    height: 20vw;
}

/* @media (max-width: 700px) {
    .recipe-img-main {
        width: 100%;
    }
} */

.recipe-img1 {
    background: url('./image/1.png') no-repeat center center;
    background-size: contain;
}

.recipe-img2 {
    background: url('./image/2.png') no-repeat center center;
    background-size: contain;
}

.recipe-img3 {
    background: url('./image/3.png') no-repeat center center;
    background-size: contain;
}

.recipe-img4 {
    background: url('./image/4.png') no-repeat center center;
    background-size: contain;
}

.recipe-box {
    border: 1px solid #000;
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
}

.recipe-box-act {
    background: #F1D0D0;
}

.recipe-img-text {
    padding: 10px;
    font-weight: 600;
}

.recipe-list-add {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    display: flex;
    background: rgb(250, 250, 250);
}

.recipe-list-left {
    width: calc(100% - 100px);
    display: flex;
    overflow-x: auto;
}

.recipe-list-right {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.recipe-list-item {
    width: 250px;
    height: 350px;
    flex: none;
    margin-right: 10px;
    background-color: #fff;
}

.recipe-list-img {
    height: 50%;
    background-color: lightpink;
    position: relative;
}

.recipe-list-img-text {
    position: absolute;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px;
}

.recipe-list-item-details {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.recipe-list-item-left {
    display: flex;
}

.recipe-list-item-right {
    display: flex;
    font-weight: 600;
}

.recipe-list-item-left .point {
    width: 20px;
    height: 20px;
    background-color: rgb(122, 201, 37);
    border-radius: 10px;
    margin-right: 10px;
}

.recipe-list-item-left .point-fat {
    background-color: rgb(254, 189, 97);
}

.recipe-list-item-left .point-carb {
    background-color: rgb(240, 70, 71);
}

.recipe-list-title {
    font-size: 16px;
    margin: 10 0px;
}

.recipe-list-data {
    font-size: 32px;
    margin: 10px;
    font-weight: 600;
}

.recipe-list-kcal {
    font-size: 30px;
}

.recipe-add-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 25px;
    /* background-color: aquamarine; */
    cursor: pointer;
    font-size: 32px;
    color: #000;
}

.recipe-top-10 {
    width: 80%;
    border: 1px solid #000;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}

.recipe-top-10-title {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.recipe-top-10-details {
    display: flex;
    margin-bottom: 20px;
}

.recipe-top-10-check {
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 32px;
    justify-content: center;
}

.recipe-top-10-right {
    width: calc(100% - 100px);
    background-color: #fff;
}

.recipe-top-10-check .ant-checkbox-inner {
    width: 30px;
    height: 30px;
}

.top10-right-top {
    display: flex;
}

.top10-right-top-img {
    width: 200px;
    height: 200px;
    background-color: beige;
    flex: none;
}

.top10-right-top-text {
    padding: 0px 20px 0px 40px;
    text-align: left;
    line-height: 30px;
    font-size: 20px;
}

.top10-right-bottom {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top10-right-bottom-item {
    width: 33.3%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.top10-kcal {
    font-size: 28px;
    font-weight: 600;
}

.top10-servings {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.top10-kcal-unit {
    font-weight: 600;
    margin-left: 10px;
}

.top10-right-bottom-item-main {
    display: flex;
    justify-content: space-between;
}

.top10-right-bottom-item-unit {
    font-weight: 600;
}

.top10-foodName {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}