.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  max-width: 550px;
  width: 55%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal h3 {
  margin-top: 10px;
  color: #2a4d69;
}

.modal-content {
  margin-top: 30px;
}

.modal-content iframe {
  height: 700px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: #2a4d69;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #3c6e71;
}